#dashboard-view {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.dashboard-row {
  text-align: center;
}

.dashboard-text {
  margin: 0;
}

.dashboard-row:last-child {
  padding-bottom: 0;
}

.dashboard-temperature-text {
  font-size: 2.8em;
  font-weight: bold;
}

.dashboard-humidity-text {
  font-size: 1em;
  font-weight: bold;
}

.last-updated-text {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  animation: grow var(--text-animation-speed);
}

.dashboard-label {
  font-size: 1.2em;
}

.dashboard-no-data-text {
  font-size: 1.2em;
}

.clock-text {
  font-size: 4em;
  font-weight: bold;
  animation: grow var(--text-animation-speed);
}

.calendar-date-text {
  font-size: 1.3em;
  font-weight: bold;
  top: 6px;
  position: relative;
  animation: grow var(--text-animation-speed);
}

.calendar-date-text-small {
  font-size: 1.1em;
  font-weight: bold;
  top: -2px;
  position: relative;
  animation: grow var(--text-animation-speed);
}

.dashboard-view-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

.dashboard-header-cell {
}

.temperature-side-text {
  font-size: 2em;
  font-weight: bold;
  animation: grow var(--text-animation-speed);
}

.humidity-side-text {
  font-size: 1.2em;
  font-weight: bold;
  animation: grow var(--text-animation-speed);
}

.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event-details-container {
  padding-left: 32px;
  padding-right: 32px;
}

.event-details-container {
  margin-bottom: 1em;
}

.event-details-container:last-child {
  margin-bottom: 0;
}

.event-details-label {
  font-weight: bold;
  animation: grow var(--text-animation-speed);
}

.event-details-text {
  animation: grow var(--text-animation-speed);
}

.conditions-title {
  margin: 0;
  animation: grow var(--text-animation-speed);
}

.txt-color-2 {
  color: var(--text-color-secondary);
}

.dashboard-side-container {
  padding-top: 2em;
}

.date-events-title-primary {
  margin: 0;
  font-weight: bold;
  animation: grow var(--text-animation-speed);
}

.date-events-title-secondary {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  animation: grow var(--text-animation-speed);
}

.calender-events-divider {
  border-color: var(--text-color-secondary);
  border-width: 1px;
  border-style: solid;
  width: 160px;
  margin: 0 auto;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.event-details-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.event-details-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
