#dashboard-view {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.dashboard-row {
  text-align: center;
}

.dashboard-text {
  margin: 0;
}

.dashboard-row:last-child {
  padding-bottom: 0;
}

.dashboard-temperature-text {
  font-size: 2.8em;
  font-weight: bold;
}

.dashboard-humidity-text {
  font-size: 1em;
  font-weight: bold;
}

.last-updated-text {
  font-size: 1em;
  font-weight: bold;
}

.dashboard-label {
  font-size: 1.2em;
}

.dashboard-no-data-text {
  font-size: 1.2em;
}

.clock-text {
  font-size: 4em;
  font-weight: bold;
}

.calendar-date-text {
  font-size: 1.4em;
}

.dashboard-view-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dashboard-header-cell {
  align-self: center;
}

.dashboard-header-side-text {
  font-size: 2em;
  font-weight: bold;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event-details-container {
  padding-left: 32px;
  padding-right: 32px;
}

.event-details-container {
  margin-bottom: 1em;
}

.event-details-container:last-child {
  margin-bottom: 0;
}
